.sidebar {
  border-right: 3px dashed black;
}

.page__holders {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__holder_header-1 {
  margin-left: 20px;
  font-size: 20px;
}

.page__holder_header-2 {
  margin-left: 70px;
  font-size: 18px;
  /*color: rgb(83, 129, 217);*/
}

.page__item {
  font-size: 16px;
  margin-left: 50px;
}

.page_active {
  color: rgb(83, 129, 217);
  text-decoration: underline;
}

.page_active:hover {
  color: rgb(83, 129, 217);
  text-decoration: underline;
}

.page__header {
  font-size: 24px;
  margin: 30px 10px;
}

.header__carousel__img {
  height: 400px!important;
  width:auto;
}

.info__holder {
  display: flex;
  flex-direction: column;
}

.slide-menu-default {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.cms-section-default {
    margin: 30px 10px;
}

.menu-row-default, .menu-row-placeholder{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;;
  cursor: move;
  border-radius: 3%;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  margin: 10px 0 3px 0;
}

.menu-img-default {
  flex-shrink:1;
  max-width: 130px;
  padding-right: 5px;
  padding-left: 5px;
  max-height: 95%;
}

.menu-row-default:hover {
  cursor: grab;
}

.info__box {
  flex: 1 0 auto;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.header_c_plus_item {
  margin: 10px;
}

/*
================================================================================
Items
================================================================================
*/

.featured_item, .product_item {
    text-align: center;
    position: relative;
    cursor: pointer;
}
.featured_items_header>h3, .product_items_header>h3 {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
}
.featured_item>h5, .product_item>h5 {
    font-size: 11pt;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 50px;
}
@media (max-width: 767px) {
    .product_item>h5, .featured_item>h5 {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .product_item, .featured_item {
        max-width: 360px;
        margin: 0px auto;
    }
}
.product_item_img, .featured_item_img {
    width: 90%;
    max-width: 360px;
    height: 130px;
    object-fit: cover;
    margin: 20px auto;
}
.product_item_overlay, .featured_item_overlay {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #666;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product_item_overlay>h1, .featured_item_overlay>h1 {
    font-size: 26pt;
    font-weight: normal;
    margin-top: 130px;
}
@media (min-width: 1200px) {
    .product_item_overlay>h1, .featured_item_overlay>h1 {
        font-size: 30pt;
        font-weight: normal;
        margin-top: 60px;
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .product_item_overlay>h1, .featured_item_overlay>h1 {
        font-size: 26pt;
        font-weight: normal;
        margin-top: 48px;
        margin-bottom: 30px;
    }
}
.product_item_overlay>button, .featured_item_overlay>button {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    border: none;
}
.product_item_overlay>hr, .featured_item_overlay>hr {
    border-top-color: #666;
    width: 75%;
    margin-top: 36px;
}
.product_item_overlay:hover, .featured_item_overlay:hover {
    opacity: 100;
}

.thrashcan {
  z-index: 0;
  width: 196px;
  height: 196px;
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/images/icons/trash.png');
    opacity : 0.6;
}

.thrash-hover {
  background-image: url('/assets/images/icons/trash_hover.png');
}


.file_input::after {
}

.info__box li {
  flex: 0 0 40px;
  justify-content: center;
  display: flex;
}

.b__img {
  margin: 15px;
  flex: 0 1 auto;
  max-height: 90px;
}

.basic_input {
  margin: 15px 0;
}

@media screen and (max-width: 991px) {
  .preview-img {
    height:400px;
  }

  #slider {
    margin-bottom:30px;
  }
}​

.thrashcan {
  z-index: 0;
  width: 196px;
  height: 196px;
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/assets/images/icons/trash.png');
    opacity : 0.6;
}

.thrash-hover {
  background-image: url('/assets/images/icons/trash_hover.png');
}

.shopcontainer-default {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  width: 100%;
  height: auto;
  max-height: 1000px;
  /*border-style: solid;
  border-color: #000000;*/
  overflow: scroll;
  list-style-type: none;
  float: left;
}

.shopplaceholder-default {
  width: 196px;
  height: 196px;
  box-sizing: border-box;
  background-color: #9999ff;
}

.shop-item-default {
  width: 196px;
  height: 196px;
  position: relative;
  box-sizing: border-box;
}

.shop-add-item-default {
  overflow: auto;
  position: relative;
  /*max-height: 50vh;*/
  float: left;
}
